*{
  color: aliceblue;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body, html {
      margin: 0;
      font-family: Arial, sans-serif;
      scroll-behavior: smooth; 
      background-color: black;
      background-image: url(stars.png);
      overflow-x: clip;  
     
    }
    h1{
      position: relative;
      text-align: center;
      top: 60px;
      font-size: 50px;
      color: #0C8CE9;
    }

nav {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 1rem;
      background: transparent;
      display: flex;
      justify-content: left;
      gap: 4rem;
      z-index: 1000;
    }

.logo{
  height: 100px;
  margin-right: 15vw;
  margin-left: 5vw;
  padding-top: 4vh;
}   
.nav-center {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  gap: 3rem; 
  width: 40vw;            
}

.nav-center a {
      margin-top: 2rem;
      white-space: nowr;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-family: "lexand",sans-serif;
      font-weight: 700;
      transition: color 0.3s;
      white-space: nowrap;
    }
 
.nav-center a.highlight {
  color: #0C8CE9;          /* or any text color */
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.container{
  padding: 10px 100px;
  position: relative;
  width: 50%;
  color: transparent;
  height: 350px;
  position: relative;
  animation: movedown 1s linear forwards;
  opacity: 0;
  
}
@keyframes movedown{
  0%{opacity: 0;
  transform: translateY(-30px);}
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.box{
  
  background-color: aliceblue;
  width: 429px;
  height: 257px;
  align-self: center;
  position: absolute;
  right: 120px;
  border-radius: 40px;
  border: 1px solid #0C8CE9;
  box-shadow: 1px 1px 40px #0C8CE9, -1px -1px 40px #0C8CE9;

  
}
.text-box{
  position: absolute;
  width: 70%;
  left: 120%;
  top: 20%;
}
.text-box.text-box-right {
  position: absolute;
  width: 70%;
  left: -90%;
  top: 20%;

}
h2{
  color: #0C8CE9;
  font-size: 50px;
}
small{
  color: #80CAFF;
  font-size: 20px;
}
p{
  font-size: 22px;
}

.left-container{
  left: 0%;
}
.right-container{
  left: 50%;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 5;
  background: #80CAFF;
  animation: moveline 5.8s linear forwards;
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.container:nth-child(2){
  animation-delay: 1.1s;;
}
.container:nth-child(3){
  animation-delay: 2.2s;;
}
.container:nth-child(4){
  animation-delay: 3.3s;;
}
.container:nth-child(5){
  animation-delay: 4.4s;;
}
.container:nth-child(6){
  animation-delay: 5.5s;;
}
.container:nth-child(7){
  animation-delay: 6.6s;;
}






.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  right: 107px;
  display: none;
}
.right-box{
  left: 120px;
}
.right-container-arrow{
   height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: 107px;
  display: none;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 24px;
  }
  .right-container-arrow,.left-container-arrow{
    display: none;
  }
  .text-box{
  position: absolute;
  width: 154px;
  font-size: 15px;
  font-weight: bold;
  left: 10%;
  top: 60%;
  
}
.text-box.text-box-right {
  position: absolute;
  width: 154px;
  font-size: 15px;
  font-weight: bold;
  left: 10%;
  top: 60%;

}
 .box{
  
  background-color: aliceblue;
  width: 170px;
  height: 95px;
  align-self: center;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 30px;
  border: 1px solid #0C8CE9;
  box-shadow: 1px 1px 40px #0C8CE9, -1px -1px 40px #0C8CE9;
}
 p{
  font-size: 11px;
 }
 .left-container{
  left: auto;
  width: 100%;
  height: 30vh;
}
.right-container{
  left: auto;
  width: 100%;
  height: 30vh;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 243px;
  z-index: 5;
  background: #80CAFF;
  animation: moveline 5.8s linear forwards;

}

.size{
  width: 100px;
  position: absolute;
  left: 250px;
  top: -100px;
  margin-right: 20px;
}
h2{
  font-size: 20px;
  position: absolute;
}

.box{
  position: absolute;
  top: 10%;
}
small
{
  position: relative;
  top : 20px;
  font-size: 10px;
  align-self: center;
  left: 10px;
}

}
