body, html {
      margin: 0;
      font-family: Arial, sans-serif;
      scroll-behavior: smooth; 
      background-color: black;
    }

nav {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 1rem;
      background: transparent;
      display: flex;
      justify-content: left;
      gap: 4rem;
      z-index: 1000;
    }

.logo{
  height: 100px;
  margin-right: 15vw;
  margin-left: 5vw;
  padding-top: 4vh;
}   
.nav-center {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  gap: 3rem; 
  width: 40vw;            
}

.nav-center a {
      margin-top: 2rem;
      white-space: nowr;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-family: "lexand",sans-serif;
      font-weight: 700;
      transition: color 0.3s;
      white-space: nowrap;
    }

.nav-center a:hover {
      color: darkblue;
    }

   
section {
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  text-align: center;
}


#home {
  background: #000000;
  background-image: url(stars.png);
  background-repeat: no-repeat;   
  background-position: center;   
  background-size: cover;
  padding-top: 0vh;

}

.name{
  font-family: 'Asul', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 15vh;
}

.name span{
  color: #004AAB;
  
}
#moto{
  color:#E0E0E0;
  font-size: 2.2rem;
  line-height: .9;
  font-weight: 400;
  font-family: 'Red Rose', sans-serif;
  margin-top: 0;

}

#about{
  background: #000000f4;
  background-image: url(stars.png); 
  background-repeat: no-repeat;   
  background-position: center;   
  background-size: cover;
  height: 100vh;
  padding-top: 20vh;

}
.about-layer{
  background: rgba(20, 20, 20, 0.9);
  padding: 2vw 5vw;
  width: 75vw;
  height: 55vh;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 140, 255, 0.8);
  position: relative;
}

.explore-button{
  background: rgba(100, 100, 100, 0.5);
  color: white;
  font-size: large;
  font-weight: bold;
  height: 7vh;
  width: 12vw;
  border-radius: 25px;
  border: none;
  
  
}

.about-layer h1,#events h1,#gallery h1{
  font-family: "Lexend",sans-serif;
  color: #0C8CE9;
  font-size: 2.5rem;
}
.about-layer p{
  display: flex;
  flex-wrap:wrap ;
  font-family: "Lexend",sans-serif;
  font-size: 1.6rem;
  color: white;
}

#events { 
  background: #000000f4;
  background-image: url(stars.png);
  padding-top: 2vh;
  display: flex; 
}

.cards-viewport{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}


.cards-track{
  padding: 5rem;
  display: flex;
  gap: 10vh;                 
  transition: transform .5s ease;
  will-change: transform;
}

.event-card{
  flex: 0 0 20vw;            
  height: 28vw;
  border-radius: 30px;
  background-color: rgba(0, 38, 255, 0.2);
  border: 2px solid #0ff;
  box-shadow:
    0 0 2px #000DFF,
    0 0 5px #000DFF,
    0 0 10px #000DFF,
    0 0 20px #000DFF;
  transition: transform .3s ease;
}

.event-card.active{
  transform: scale(1.12);
  z-index: 1;
}

.slider-container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}


.control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  transition:  0.3s;
}

.prev-btn {
  left: -60px;   
}

.next-btn {
  right: -60px;  
}

.eventimage{
  position: relative;
  top: 10%;
  width: 75%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  
}
.eventimage img{
  width: 100%;
}
.workshopName
{
  font-size: 30px;
  position: relative;
  top: 15%;
  width: 80%;
  text-align: center;
  margin: auto;
  font-family: "Lexend",sans-serif;

  
}

#achivements {
  background: #000000f4;
  background-image: url(stars.png);  
}

#gallery {
  background: #000000f4;
  background-image: url(stars.png);  
}

.gallery{
  padding: 0 10%;
}
.picture{
  display: inline-block;
  margin: 20px;
}






