body, html {
      margin: 0;
      font-family: Arial, sans-serif;
      scroll-behavior: smooth; 
      background-color: black;
    }

nav {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 1rem;
      background: transparent;
      display: flex;
      justify-content: left;
      gap: 4rem;
      z-index: 1000;
    }

.logo{
  height: 100px;
  margin-right: 15vw;
  margin-left: 5vw;
  padding-top: 4vh;
}   
.nav-center {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  gap: 3rem; 
  width: 40vw;            
}

.nav-center a {
      margin-top: 2rem;
      white-space: nowr;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-family: "lexand",sans-serif;
      font-weight: 700;
      transition: color 0.3s;
      white-space: nowrap;
    }

.nav-center a:hover {
      text-decoration: underline;
    }

   
section {
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  
}


#home {
  background: #000000;
  background-image: url(stars.png);
  background-repeat: no-repeat;   
  background-position: center;   
  background-size: cover;
  padding-top: 0vh;

}

.name{
  font-family: 'Asul', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 15vh;
}

.name span{
  color: #004AAB;
  
}
#moto{
  color:#E0E0E0;
  font-size: 2.2rem;
  line-height: .9;
  font-weight: 400;
  font-family: 'Red Rose', sans-serif;
  margin-top: 0;

}

#about{
  background: #000000f4;
  background-image: url(stars.png); 
  background-repeat: no-repeat;   
  background-position: center;   
  background-size: cover;
  height: 100vh;
  padding-top: 20vh;

}
.about-layer{
  background: rgba(20, 20, 20, 0.9);
  padding: 2vw 5vw;
  width: 75vw;
  height: 55vh;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 140, 255, 0.8);
  position: relative;
}

.explore-button{
  background: rgba(100, 100, 100, 0.5);
  color: white;
  font-size: large;
  font-weight: bold;
  height: 7vh;
  width: 12vw;
  border-radius: 25px;
  border: none;
  
  
}

.about-layer h1,#events h1,#gallery h1{
  font-family: "Lexend",sans-serif;
  color: #0C8CE9;
  font-size: 2.5rem;
}
.about-layer p{
  display: flex;
  flex-wrap:wrap ;
  font-family: "Lexend",sans-serif;
  font-size: 1.6rem;
  color: white;
}

.view-more{
  margin-top: 3vh;
  background: rgba(100, 100, 100, 0.5);
  color: white;
  font-size: large;
  font-weight: bold;
  height: 7vh;
  width: 12vw;
  border-radius: 25px;
  border: none;
  
}

/* ================= FOOTER ================= */

/* (have to fix this later) */
.footer {
  background: rgba(0, 0, 0, 0.8);
  background-image: url(stars.png);
  padding: 3vw 5vw;
  border: 0.1vw solid #00aaff;
  border-radius: 5vw;
  margin: 2vw 5vw;
  box-shadow: 0 0 0.5vw #b8c6aa, 0 0 1.5vw #00aaff, 0 0 1.5vw #67c3d0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 3vw;
  text-align: left;
}

.footer-logo img {
  height: 10vw;
  margin-bottom: 1vw;
  margin-top: 1.8vw;
}

.footer h3 {
  margin-bottom: 1.2vw;
  font-family: "Lexend", sans-serif;
  font-size: 1.3vw;
  color: rgb(255, 255, 255);
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5vw 0;
  font-size: 1vw;
  transition: color 0.3s;
  padding-left: 1vw;
}

.footer a:hover {
  color: #0C8CE9;
}

.footer-bottom {
  text-align: center;
  margin-top: 2vw;
  font-size: 0.9vw;
  color: #bbb;
}

.footer-location p {
  font-size: 1.2vw;
  color: #E0E0E0;
  font-family: "Lexend", sans-serif;
  margin-top: 1vw;
  line-height: 1.5;
  max-width: 14vw;
}

.footer-location p sup {
  font-size: 0.6em;
  vertical-align: super;
  color: white;
  font-weight: 600;
}

.footer-social ul li a {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  transition: color 0.3s;
}

.footer-social ul li a img {
  height: 1.5vw;
  width: auto;
}

.footer-location img {
  width: 12vw;
  height: auto;
  border-radius: 0.5vw;
}
.view-more:hover{
  background: #0C8CE9;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
} 

#events { 
  background: url(stars.png) no-repeat center center/cover; 
  padding-top: 2vh;
  display: flex; 
}

.cards-viewport{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}


.cards-track{
  padding: 5rem;
  display: flex;
  gap: 10vh;                 
  transition: transform .5s ease;
  will-change: transform;
}

.event-card{
  flex: 0 0 20vw;            
  height: 28vw;
  border-radius: 30px;
  background-color: rgba(0, 38, 255, 0.2);
  border: 2px solid #0ff;
  box-shadow:
    0 0 2px #000DFF,
    0 0 5px #000DFF,
    0 0 10px #000DFF,
    0 0 20px #000DFF;
  transition: transform .3s ease;
}

.event-card.active{
  transform: scale(1.12);
  z-index: 1;
}

.slider-container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}


.control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  transition:  0.3s;
}

.prev-btn {
  left: -60px;   
}

.next-btn {
  right: -60px;  /* push right outside track */
}

.eventimage{
  position: relative;
  top: 10%;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  
}
.eventimage img{
  width: 100%;
}
.workshopName
{
  font-size: 40px;
  position: relative;
  top: 15%;
  width: 80%;
  text-align: center;
  margin: auto;
  font-family: "Lexend",sans-serif;

  
}

#achivements {
  background: #000000f4;
  background-image: url(stars.png);  
}

#gallery {
  background: #000000f4;
  background-image: url(stars.png);  
}

.gallery{
  padding: 0 15%;
  justify-content: center;
}
.picture{
  display: inline-block;
  margin: 12px;
}

footer{
  background-image: url(stars.png);
}

.foot{
  flex: 0 0 20vw;            
  height: 30vh;
  width: 90vw;
  margin: 5vw;
  border-radius: 60px;
  border: 2px solid #0ff;
  box-shadow:
    0 0 2px #000DFF,
    0 0 5px #000DFF,
    0 0 10px #000DFF,
    0 0 20px #000DFF;
  transition: transform .3s ease;
}

.footer-logo{
    margin: 3vw 3vw;
}


/* ================= FOOTER ================= */

/* (have to fix this later) */
.footer {
  background: rgba(0, 0, 0, 0.8);
  background-image: url(stars.png);
  padding: 0vw 5vw !important;
  padding-top: 1.5vw !important;
  border: 0.1vw solid #00aaff;
  border-radius: 5vw;
  margin: 2vw 5vw;
  border-radius: 60px;
  border: 2px solid #0ff;
  box-shadow:
    0 0 2px #000DFF,
    0 0 5px #000DFF,
    0 0 10px #000DFF,
    0 0 20px #000DFF;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 3vw;
  text-align: left;
}

.footer-logo img {
  height: 8vw !important;
  margin-bottom: 1vw;
  margin-top: 1.8vw;
  position: relative;
  top: -3vw;
}

.footer h3 {
  margin-bottom: 1.2vw;
  font-family: "Lexend", sans-serif;
  font-size: 1.3vw;
  color: rgb(255, 255, 255);
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5vw 0;
  font-size: 1vw;
  transition: color 0.3s;
  padding-left: 1vw;
}

.footer a:hover {
  color: #0C8CE9;
}

.footer-bottom {
  text-align: center;
  margin-top: 0vw;
  font-size: 0.9vw;
  color: #bbb;
}

.footer-location p {
  font-size: 1.2vw;
  color: #E0E0E0;
  font-family: "Lexend", sans-serif;
  margin-top: 1vw;
  line-height: 1.5;
  max-width: 14vw;
}

.footer-location p sup {
  font-size: 0.6em;
  vertical-align: super;
  color: white;
  font-weight: 600;
}

.footer-social ul li a {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  transition: color 0.3s;
}

.footer-social ul li a img {
  height: 1.5vw;
  width: auto;
}

.footer-location img {
  width: 1vw !important;

  border-radius: 0.5vw;
}




